@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #363636;
  color: white
}

form {
  display: flex;
  flex-direction: column;
}

input {
  background-color: #292929;
  margin: 1rem;
  color: white;
}

button {
  background-color: orange;
  width: 10rem;
  border-radius: 1rem;
}

.delete-button {
  background-color: red;
  width: 10rem;
  border-radius: 1rem;
}

.border-line {
  background-color: gray;
  width: 100vw;
  height: 0.1rem;
  margin: 1rem;
}